root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[{Jenkinsfile,Makefile,Dockerfile,*.Dockerfile,*.json}]
indent_style = tab
indent_size = 4

[*.{yml,yaml,feature}]
indent_style = space
indent_size = 2

[*.{markdown,md}]
trim_trailing_whitespace = false
